*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#linha{
    border-right: 1px solid rgb(231, 150, 0);
}
#Contato{
    border: none;
    float: right;
    margin-right: 122px;
}
#numero{
    border: none;
    float: right;
    margin-right: 5px;
}
#login{
    border: none;
    float: right;
    margin-right: 110px;
    background-color: rgba(66, 66, 66, 0.589);
}
#menu li{
    border: none;
}
header{
    background-color: rgb(255, 187, 0);
    margin-top: 0.05%;
    padding-left: 40px;
}
li{
    border-left: 1px solid rgb(231, 150, 0);
    display: inline-block;
    padding: 10px 10px;
}
a{
    padding-left: 10px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
}
nav{
    margin-top: 40px;
    display: inline-block;
    margin-left: 40px;
}
p{
    font-size: 25px;
}
label{
    display: inline-block;
    vertical-align: middle;
}
.casa{
    background-color: rgb(66, 66, 66);
    padding: 10px 15px;
    border-radius: 5px;
}
.logo{
    font-size: 50px;
}
.espaco{
    padding-left: 150px;
}
.cor{
    color: black;
}


.foto_grande{
    margin-top: 25px;
    margin-left: 75px;
    width: 1200px;
    height: 500px;
}
.foto_grande img{
    width: 1200px;
    height: 500px;
}
/* bloquinhos */
#qualidades{
    margin-left: 50px;
}
.quadrado{
    background-color:#f4a52e;
    margin-left: 26px;
    margin-top: 30px;
    width: 305px;
    height: 100px;
    float: left;
    text-align: center;
    -webkit-box-shadow: 2px 5px 15px 5px rgb(255, 159, 34); 
    box-shadow: 2px 5px 15px 5px rgba(244, 231, 46, 0.53);
}
.texto{
    margin-top: 30px;
}
.descricao{
    font-size: 25px;
    color: white;
    margin-top: 20px;

}

.saiba{

    width: 305px;
    height: 50px;
    background-color: white;
    margin-top: 31px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

