*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track { background: #000000; }
::-webkit-scrollbar-thumb { background-color: #aaa; border: 3px solid black; }

body {
    background: url(https://image.ibb.co/bG1hBS/image.png); background-color: #000000;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-size: 9px;
}
header img{
    display: block;
}
#gestaltpost {
    width: 800px;
    margin: 40px auto;
    background: #19191f;
    padding: 40px;
    border: 10px solid rgba(0,0,0,0.25);
    text-align: justify; font-size: 15px;
    line-height: 150%;
    color: #838492; }
hr {
    border: 0px solid #fff;
    border-bottom: 1px solid #ccc;
    margin: 10px 0px;
}
h1 {
    font-family: Roboto Mono;
    text-transform: uppercase;
    font-size: 30pt;
    font-weight: 700;
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
    color: #4f6a7d;
    font-style: italic;
}
h2{
    font-family: Roboto Mono;
    font-size: 20pt;
    display:inline;
    font-weight: 20;
    margin: 0;
    padding: 0;
    color: #4f6a7d;
    letter-spacing: 0px;
    font-style: italic;
}
